
.images {
    width: 100%;
    height: 300px;
    margin: 3px;
    border: 3px solid rgb(252, 127, 31, 0.1);
    transition-duration: 0.2s;
    object-fit: cover;
    flex: 3;
    transition: 0.3s;
}
@media (max-width: 450px) {
  .images {
    width: 195px;
    height: 180px;
    margin: 1px;
  }
  .gallery {
    margin-bottom: 800px;
  }
}

.images:hover {
    border: 3px solid rgb(252, 127, 31, 0.2);;
    transform: scale(1.025);
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.gallery-container {
  margin-top: 5px;
}

.cat0 {
  object-position: 0% 20%;
}
.cat6 {
  object-position: 0% 20%;
}
.cat7 {
  object-position: 0% 20%;
}
.cat8 {
  object-position: 0% 20%;
}

.kitten7 {
  max-width: 300px;
}
.kitten6 {
  max-width: 480px;
  min-width: 250px;
  object-position: 0% 60%;
}

.kitten2 {
  max-width: 250px;
  object-position: 0% 20%;
}
.kitten3 {
  max-width: 450px;
  object-position: 0% 70%;
}
.kitten1 {
  object-position: 0% 70%;
}
.kitten4 {
  object-position: 0% 20%;
  max-width: 800px;
}

.kitten13 {
  max-width: 350px;
  object-position: 30% 20%;
}
.kitten8 {
  object-position: 0% 20%;
  max-width: 800px;
}